<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.cuisine %></p>

<h2>Menus</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.description %></td>
        <td><%= number_to_currency(menu.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Restaurants', restaurants_path, class: 'btn btn-default' %>
